@charset "utf-8"
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(62, 62, 77);
}

.button {
    padding: 5px 20px;
    font-size: 14px;
    color: gray;
    text-decoration: none;
    border: 1px gray solid;
    transition: 0.4s ease;
}

.limk:hover {
    color: gray;
}

.header {
  height: 100px;
}

.header-logo {
  text-align: center;
  color: rgb(79, 79, 99);
}

.header-nav ul {
 display: flex;
 justify-content: center;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(112, 108, 108);
}

#firstview {
  margin: 0 auto;
  width: 90%;
  height: 500px;
  background: url(../img/firstview.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
}

#concept {
    padding: 15px;
    background-color: rgb(241, 202, 151);
    height: 380%;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    box-sizing: border-box;
}

.concept-wrap {
    display: flex;
    justify-content: center;
    
}

.concept-right {
    width: 40%;
    height: 200px;
    background-color: azure;
    padding: 3%;
    margin: 10px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;   
}

.concept-right h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}

.concept-right h3,
.concept-right p {
    margin-bottom: 20px;
}
.concept-right p {
    font-size: 15px;
}

.concept-left img {
    width: 550px;
    height: 350px;
}


#stylist {
    background-color:rgb(216, 211, 211);
    width: 90%;
    margin: 0 auto; 
    margin-top: 5%;
    padding-bottom: 5%;
}

.stylist-title {
   padding: 4%;
   font-size: 30px; 
   text-align: center;
}

.stylist-cat {
    width: 30%;
    background-color: rgb(244, 247, 248);
    padding: 22px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.stylist-cat img {
    width: 100%;
    height: auto;   
}

.stylist-cat-img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.stylist-cat p {
    text-align: center;
}


.stylist-wrap {
    display: flex;
    text-align: center;
    margin-left: 10%;
}

#stylist .button {
    margin-left: 50%;
}

#price {
    background-color: rgb(193, 226, 226);
    width: 90%;
    margin: 0 auto; 
    margin-top: 5%;
    padding-bottom: 5%;
}

.price-title {
   padding: 4%;
   font-size: 30px; 
   text-align: center;
}
.price-wrap {
    display: flex;
    margin: 2%;
}

.price-left {
    width: 70%;
}


.price-left-img {
    display: inline-block;
    width: 30%;
    height: 280px;
    background-position: center;
    background-size: cover;
}
.price-right {
    width: 500px;
    height: 250px;
    background-color: white;
    text-align: center;
    justify-content: center;
    padding: 8px;
    padding-top: 3%;
    margin-right: 20px;
}
.price-right table {
    width: 200px;
    height: 150px;
    font-size: 15px;
}

.cut-img {
    position: relative;
    top: -270px;
    left: 200px;
    width: 260px;
}
.cut-img img {   
    width: 250px;
    
}

#place {
    background-color: rgb(218, 191, 142);
    width: 90%;
    margin: 0 auto; 
    margin-top: 5%;
    padding-bottom: 5%;
}

.place h3 {
   padding: 4%;
   font-size: 30px; 
   text-align: center;
}

.place-wrap {
    display: flex;
    justify-content: space-around;   
}

.place-left {
    width: 250px;
    height: 100px;
    padding: 5%;
    background-color: beige;
    margin-left: 5%;
    margin-top: 5%;
}

.text {
    cursor: pointer;
}

#top-btn {
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
}

.menu-content {
    display: none;
}
@media screen and (max-width: 768px) {

#firstview {
    width: 90%;
    height: 400px;
}
.menu-content {
    z-index: 20;
    display: block;
    width: calc(100% - 80px);
    height: 100%;
    text-align: center;
    transition: .2s;
    position: fixed;
    top: 0;
    left: calc(-100% - 80px);
    background: #fff;
    color: #333333;
    box-shadow: 80px 0 rgba(red, green, blue, alpha);
}
.menu-content li a {
    color: #333333;
    margin: 15px;
    padding: 5px;
    border-bottom: 0.5px solid #2662D5; 
    text-decoration: none;
    display: block;
}
.menu-content li {
    width: 100%;
    text-align: left;
}
.menu-content.open {
   left: 0;
}
.menu-content .menu-title {
    margin: 40px 20px;
    font-size: 2.2rem;
    color: #333333;
    text-align: left;
    font-weight: bold;
}
#hamburger.active span:nth-of-type(1){
    top: 20px;
    transform: rotate(45deg);
}
#hamburger.active span:nth-of-type(2){
    opacity: 0;
}
#hamburger.active span:nth-of-type(3){
    top: 20px;
    transform: rotate(-45deg);
}


#hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 15px;
    right: 20px;
    transition: 0.4s;
}   

#hamburger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: gray;
    transition: 0.8ms;
}

#hamburger span:nth-of-type(1) {
    top: 10px;
}

#hamburger span:nth-of-type(2) {
    top: 20px;
}

#hamburger span:nth-of-type(3) {
    top: 30px;
}

.header-nav {
    display: none;
}



.concept-wrap {
    flex-wrap: wrap;
    text-align: center;
}

.concept-left img {
    width: 100%;
    height: 90%;
}
.concept-right,
.concept-left {
    width: 100%;
}

.concept-right {
    margin: 2%;
    height: 110%;
    width: 100%;
}

.concept-right h3 {
    margin-top: -2px;
}



.stylist-title {
    margin-bottom: 5%;
}
.stylist-wrap {
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 4%;
}

.stylist-cat {
    width: 90%;
    margin-bottom: 2%;
    padding-bottom: 1%;
}

.stylist-cat img {
    width: 100%;
    height: 80%;
    
}

#stylist .button {
    margin-left: 40%;
}

#price {
    padding-bottom: 18%;
}
.price-wrap {
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 2%;
}


.price-left {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    
}

.price-left img {
    width: 50%;
    height: 30%;
}


.price-right {
    width: 80%;
    flex-wrap: wrap;
    text-align: center;
    margin: 3px auto;
    align-items: center;

}

.price-title {
    margin-bottom: 5px;
}
.price-right table {
    height: 80%;
    text-align: center;
    margin: 3px auto;
}
.cut-img {
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}


.place-wrap {
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 2%;
    width: 100%;
}


.place h3 {
    margin-bottom: 5px;
}

.place-left {
    padding: 3%;
    margin: 3px auto;
}

.place-right {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin-top: 5%;
    width: 90%;
}
}

